.scatter-plot {
    position: relative;
}

.scatter-plot.canvas {
    position: absolute;
    pointer-events: all;
    z-index: 0;
}

.scatter-plot.svg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
}

.scatter-plot.rect {
    fill: #ffffff;
    z-index: 100;
}

.scatter-plot.brush-container {
    z-index : 0;
    pointer-events: none;
}

.brush {
    pointer-events: none;
}

.brush .extent {
    fill-opacity: .1;
    shape-rendering: crispEdges;
}

.scatter-plot {

    .plot {
        fill: #ffffff;
    }
    .grid .tick {
        stroke: #BEC9CE;
        opacity: 0.6;
    }
    .grid path {
        stroke-width: 0;
    }
    .axis path, .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .axis path {
        display: none;
    }
    .line {
        fill: none;
        stroke: #9175f0;
        stroke-width: 2px;
    }

    text {
        fill: #A7A9AC;
        font-family: monospace;
        font-size: 14px;
        font-weight: normal;

        &.label {
            fill: #A7A9AC;
        }

    }
}