.gallery-viz
    .row
        .gallery-container
            for image in images
                .gallery-thumbnail
                    img(src="#{image}_small")

    .row
        .gallery-full
            .image-container
            //- a(href="#{images[currentImage]}", target="_blank")
                img(src="#{images[currentImage]}")
