
.gallery-viz {

    img {
        width: 100%;
        display: block;
    }
    .gallery-thumbnail {
        cursor: pointer;
        display: inline-block;
        max-width: 10%;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}
