.leaflet-container img.leaflet-image-layer {
    max-width: none !important;
    image-rendering: pixelated;
}

.image-map svg.leaflet-zoom-animated {
    max-width: 200000px;
}

.image-map .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    box-shadow: inset -100px 0 100px -100px rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    z-index: 2001;
}


.image-map g path {
    transition: all 0.25s;
    stroke-width: 4px;
    stroke-opacity: 1;
    stroke: rgb(255,255,255);
    position: absolute;
    z-index: 1001;
    fill: lighten(rgb(230,230,230), 20%);
    fill-opacity: .6;
    -webkit-filter: none;
}

.image-map.mode-delete path {
    cursor: no-drop;
}

.image-map.mode-delete path:hover {
    fill: #4d4d4d !important;
}

.image-map div.polygon-elbow {
    -webkit-transition: opacity .25s;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border: 5px solid rgb(180,180,180);
    border-radius: 10px;
    transition: opacity 0.25s;
    cursor: move;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    width: 0 !important;
    height: 0 !important;
}

.image-map div.polygon-elbow.non-polygon {
    opacity: 0 !important;
    pointer-events: none !important;
    border: 5px solid darkgray;
}

.image-map.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}

.image-map svg.tracer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    pointer-events: none;
}

.mouse-line {
    stroke: rgb(255,255,255);
    stroke-width: 2;
    opacity: 1.0;
}


.image-map.mode-create {
    cursor: crosshair;
}