.line-plot {

    .plot {
        fill: #ffffff;
    }
    .grid .tick {
        stroke: #BEC9CE;
        opacity: 0.6;
    }
    .grid path {
        stroke-width: 0;
    }
    .axis path, .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }
    .axis path {
        display: none;
    }
    .line {
        cursor: pointer;
        fill: none;
    }

    text {
        fill: #A7A9AC;
        font-family: monospace;

        &.label {
            fill: #A7A9AC;
        }

    }
}